<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
    android:usesCleartextTraffic="true"
    tools:targetApi="28"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- Di sini tambahkan elemen receiver dan atur android:exported -->
    <receiver
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
        android:exported="true">
        <!-- Atribut lainnya -->
    </receiver>

    </application>
</manifest>
